extends layout

block content
	.row(style="margin-left:35%;")
		.col.s12.m6
			.card.indigo
				.card-content
					.card-title
						span
							h3.center-align.white-text Inicio de seccion
							h6.center-align.white-text
								i.material-icons cloud 
					.row.center-align
						include ./loginComponent/login
	link(rel='stylesheet', href='/stylesheets/LoginComponent/login.css')