nav
	.init
		img(src="/images/nav-icon.svg", alt="", srcset="")
		h6.title Ventas POS  

	ul.nav.flex-column
		li.nav-item
			a.nav-link.active(href='/home')
				i.fas.fa-home  Inicio 
		li.nav-item
			a.nav-link(href='/product')  
				i.fas.fa-box-open  Productos
		li.nav-item
			a.nav-link(href='/provider')  
				i.fas.fa-building  Proveedores
		li.nav-item
			a.nav-link(href='/logout', tabindex='-1')  
				i.fas.fa-sign-out-alt Salir

link(rel="stylesheet", href="/stylesheets/menu.css")


