extends layout

block content
    include ./menu
    ul.nav.navtop.d-flex.align-items-center
        li.nav-item
            button.btn.btn-success.btn-sm.font-weight-bold.ml-1( data-toggle="modal" data-target="#create-product-modal")
                i.fas.fa-plus-square  Crear Producto

        
