nav
	.nav-wrapper.indigo.darken-2
		a.brand-logo(href="#") Ventas
		ul.right.hide-on-med-and-down
			li
				a(href="/provider")  
					i.material-icons(title="Proveedores") face	
			li
				a(href="/") 
					i.material-icons(title="Productos") business_center
			li
				a(href="/logout") 
					i.material-icons settings_power 
