nav
	.init
		img(src="/images/nav-icon.svg", alt="", srcset="")
		h6.title Ventas POS  

	ul.nav.flex-column
		li.nav-item
			a.nav-link.active(href='#') Usuarios 
		li.nav-item
			a.nav-link(href='#') Productos 
				i.fas.fa-ad
		li.nav-item
			a.nav-link(href='/provider') Proveedores 
				i.fas.fa-building
		li.nav-item
			a.nav-link(href='/logout', tabindex='-1') Salir 
				i.fas.fa-sign-out-alt

link(rel="stylesheet", href="/stylesheets/menu.css")


