extends layout
block content
    include ./menu
    ul.nav.navtop.d-flex.align-items-center
        li.nav-item
            button.btn.btn-success.btn-sm.font-weight-bold.ml-1( data-toggle="modal" data-target="#create-product-modal")
                i.fas.fa-plus-square  Crear Producto
    #create-product-modal.modal.fade
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h6.title Crear Producto
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .form-row
                        .col-sm-12
                            input.form-control.form-control-sm(type="text" id="nameProduct" placeholder="Nombre del Producto")

                        .col-sm-12.mt-3
                            select.form-control.form-control-sm(id="provider" placeholder="Proveedor")
                                option un proveedor

                        .col-sm-12.mt-3
                            input.form-control.form-control-sm(type="text" id="acquisitionPrice" placeholder="Precio de Unidad")

                        .col-sm-12.mt-3
                            .row
                                .col-sm-6
                                    input.form-control.form-control-sm(type="" id="percentageProduct" placeholder="Porcentaje")
                                .col-sm-6
                                    input.form-control.form-control-sm(type="" id="unitPrice" placeholder="Precio unitario")
                        .col-sm-12.mt-3
                            //- input.form-control.form-control-sm(type="" id="cellphone" placeholder="Total")
                        .col-sm-12.mt-3
                            .alert.alert-success.alert-dismissible.fade.show(role="alert" id="info")
                                | Producto Agregado Correctamente
                                button.close(type="text", data-dismiss="alert" arial-label="Close")
                                    span(arial-hidden="true") &times; 
                .modal-footer
                    button.btn.btn-primary.btn-sm#create-product Crear 
                        i.fas.fa-edit
                    button.btn.btn-danger.btn-sm#cancel-product Cancelar 
                        i.fas.fa-times-circle
    .card-deck(style="width:80%; margin-left: 20%;")
        .card
            button.close.d-flex.flex-row-reverse(type="text", data-dismiss="alert" arial-label="Close")
                span(arial-hidden="true") &times;
            img.card-img-top( src="/images/nav-icon.svg"  alt="..." style="left:0%;") 
            .card-body
                h5.card-title   Product
                p.card-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, corporis perspiciatis quam, veniam tempora amet earum facere blanditiis reprehenderit dolorum nulla vel quia dignissimos! Incidunt non officia voluptate corrupti suscipit.
                buttom.btn.btn-success.btn-sm Ver Detalle
        .card
            img.card-img-top( src="/images/nav-icon.svg"  alt="..." style="left:0%;")
            .card-body
                h5.card-title   Product
                p.card-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, corporis perspiciatis quam, veniam tempora amet earum facere blanditiis reprehenderit dolorum nulla vel quia dignissimos! Incidunt non officia voluptate corrupti suscipit.
                buttom.btn.btn-success.btn-sm Ver Detalle
        .card
            button.close.d-flex.flex-row-reverse(type="text", data-dismiss="alert" arial-label="Close")
                span(arial-hidden="true") &times; 
            img.card-img-top( src="/images/arroz.jpg"  alt="..." style="left:0%;")
            .card-body
                h5.card-title
                    span.badge.badge-dark Arroz
                span.badge.badge-dark
                    | Cantidad: 50 pacas
                p.card-text.text-sm-left  Provedor: Juan Garcia, Noel
                
                p.card-text.text-sm-left Valor unidad : 20000 pesos
                p.card-text Valor unitario  : 1.600 pesos
                p.card-text Porcentaje: 20%
                p.card-text Precio de venta : 2000 pesos

                buttom.btn.btn-success.btn-sm Ver Detalle
        .card
            img.card-img-top( src="/images/nav-icon.svg"  alt="..." style="left:0%;")
            .card-body
                h5.card-title   Product
                p.card-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, corporis perspiciatis quam, veniam tempora amet earum facere blanditiis reprehenderit dolorum nulla vel quia dignissimos! Incidunt non officia voluptate corrupti suscipit.
                buttom.btn.btn-success.btn-sm Ver Detalle
    
    link(rel="stylesheet", href="/stylesheets/product.css")
    script(src="/javascripts/product.js")
    