body{
    font-family: sans-serif; 
    /* backgrou; */
}

nav {
    position: fixed;
    width: 20%;
    height: 100%;
    
}

ul{
    width: 100%;
    height: 100%;
}

li {
    text-align: center;
}

a{
    font-size: 16px;
    font-weight:lighter;
    color: #acdbdf;
    
}

a:hover{
    background:#69779b ;
    color: #f0ece2;
}

.init{
    width: 100%;
    height: 25%;  
}

.init, nav >ul {
    /* background: #e4dcdc; */
    background: #69779b;
}

img{
    width: 50%;
    position: relative;
    left: 25%;
}

.init > h6.title{
    text-align:center;
    box-sizing: content-box;
    font-family: sans-serif;
    font-weight: bold;
    color: #acdbdf;
}




