.navtop {
    background:#7baaf7;
    width: 80%;
    height: 6vh;    
    margin-left: 20%;
    margin-bottom: 2%;
}


p {
    font-size: 0.8em ;
}

.img-product {
    width: 100%;
    height: 25vh;
}