/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


.row > #other {
  width: 30%;
  position: absolute;
  left: 35%;
  top: 20%;
}

.img-login{
  width: 30%
}

