.row
    form(action="/login", method="post")
            
        div.input-field.col.s12
            input(placeholder="Usuario" id="username" type="text" class="validate")
            label(for="first_name") Usuario
        
        div.input-field.col.s12
            input(placeholder="Clave" id="password" type="password" class="validate")
            label(for="password") Clave

            button(type='submit')
                | Login
                i.material-icons.right send

//- script(src="./javascripts/moduleApi/apiHttp.js")
//- script(src="/javascripts/login/login.js")



