#modalEdit.modal.fade
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h6.title Editar Provedores
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.form-row
					.col-sm-12
						input.form-control(type="text" id="enterprise" placeholder="Empresa Provedora")

					.col-sm-12.mt-3
						input.form-control(type="text" id="name_provider" placeholder="Nombre del provedor")

					.col-sm-12.mt-3
						input.form-control(type="email" id="email" placeholder="Email Provedor")

					.col-sm-12.mt-3
						input.form-control(type="" id="cellphone" placeholder="Telefono Celular")
			.modal-footer
				.btn.btn-primary#edit Editar 
					i.fas.fa-edit
				.btn.btn-danger#cancel Cancelar 
					i.fas.fa-times-circle