extends ../layout
block content
    include ../menu
    ul.nav.navtop.d-flex.flex-row-reverse(style="margin-bottom:4%")


    div.card.content.shadow.bg-white.rounded
        h6.card-header Provedores
        .card-body
            h6.title Agregar Provedores
            .form-row
                .col-sm-12
                    input.form-control.form-control-sm(type="text" id="enterprise" placeholder="Empresa Provedora")
                       
                .col-sm-12.mt-3
                    input.form-control.form-control-sm(type="text" id="name_provider" placeholder="Nombre del provedor")
                
                .col-sm-12.mt-3
                    input.form-control.form-control-sm(type="email" id="email" placeholder="Email Provedor")
                
                .col-sm-12.mt-3
                    input.form-control.form-control-sm(type="" id="cellphone" placeholder="Telefono Celular")
                
                .col-sm-12.mt-3
                    button.btn.btn-primary.btn-block.btn-sm( id="add" ) Agregar 
                        i.fas.fa-plus-square
    div.card.content2.shadow.bg-white.rounded
        h6.card-header Provedores
        .card-body
             table.table.table-striped.table-sm( id="providers")
                thead
                    tr
                        th  Empresa 
                        th  Nombre 
                        th  Email
                        th  Telefono
                        th  Editar & Delete
                tbody         

    link(rel="stylesheet", href="/stylesheets/ProviderComponent/provider.css")
    include ./providermodal
    //- .fixed-action-btn
    //-     a#addclient(class=" btn-floating btn-large waves-effect waves-light red modal-trigger", href="#addClient")
    //-         i(class="material-icons") add

    //- .row
    //-     .col.s12.m6.offset-m6
    //-         .card
    //-             .card-content
    //-                
    //-                     thead
    //-                         tr
    //-                             th Nombre
    //-                             th Empresa
    //-                             th Email
    //-                             th Telefono
    //-                             th Editar

    //-                     tbody
                        


    script(src="/javascripts/moduleValidation/validation.js")
    script(src="/javascripts/provider.js")

        
          

    

   
